*_cache/
*_files/
*.rdata
*.RData
data/raw/B&T Panel/*
data/raw/AdaptR Panel/*
data/raw/Angio Panel/*
*.html
survival_mixture_modelling.pkl
~*
.DS_Store
.Rhistory
.ipynb_checkpoints/
*.log
unnamed-chunk-*
data/processed_old
results/old
tikz*.tex
*.nc

.quarto/
paper/figure/
paper/_manuscript/index_files/
paper/_manuscript/site_libs/
paper/_manuscript/_tex/
paper/_manuscript/*.ipynb
paper/_freeze
paper/notebooks/*_files
