*_cache/
*_files/
*.rdata
*.RData
data/raw/B&T Panel/*
data/raw/AdaptR Panel/*
data/raw/Angio Panel/*
*.html
survival_mixture_modelling.pkl
~*
.DS_Store
.Rhistory
.ipynb_checkpoints/
*.log
unnamed-chunk-*
data/processed_old
results/old
tikz*.tex
*.nc
